html
{
    font-family: 'Roboto', sans-serif, sans-serif;
    background-color: rgb(239, 239, 239);
}



a
{
    text-decoration: none;
}

a:hover
{
    background-color: #f7faff;
}


a:visited
{
    font-family: Georgia;

    color: black;
}

body
{
	margin: 0;
	background-color: rgb(239, 239, 239);
	text-align: center;
}

.clear
{
    clear: both;
}

#container
{
    width: auto;
    margin: auto;
}

#content
{
    float: left;
    width: 50%;
    height: 100%;
    background-color: rgb(239, 239, 239);
}

.contentClass p
{
    margin: 80px;
    padding-top: 20px;
    padding-right: 60px;
    padding-bottom: 20px;
    padding-left: 60px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    background-color: rgb(103, 173, 214);
}

#content2
{
    float: right;
    width: 50%;
    height: 100%;
    height: auto;
    background-color: rgb(239, 239, 239);
}

#content3
{
    float: right;
    width: 100%;
    height: 100%;
    height: auto;
    background-color: rgb(239, 239, 239);
}

#content2 img
{
    width: 50%;
    padding-right: 80px;
    padding-left: 80px;
    border-radius: 40%;
}


img
{
    width: 80%;
    height: 60%;
}

#formTable
{
    padding-left: 35%;
}

#formTable label
{
    padding: 5px;
    text-align: center;
    color: rgb(255, 255, 255);
    border-bottom-left-radius: 10px;
    background-color: rgb(2, 115, 181);
}

#formTable tr td
{
    display: inline-block;

    padding-top: 20px;
    padding-bottom: 20px;
}

#formTable #reset,
#submit
{
    margin-right: 10px;
    margin-left: 40px;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(226, 226, 226);
}

#header
{
    width: auto;
    height: auto;
    border: 1px rgba(0, 0, 0,.0) solid;
    background-color: rgb(26, 28, 31);
}

h1
{
    font-size: 50pt;
    padding: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(2, 115, 181);
}

h2
{
    font-size: 50pt;
    margin: 100px;
    padding: 30px;
    text-align: center;
    color: rgb(255, 255, 255);
    border-bottom-left-radius: 40px;
    background-color: rgb(2, 115, 181);
    text-shadow: 10px 5px rgba(45,45,45,.2);
}

h3
{

	padding:30px;
	margin-left: 70px;
	margin-right: 70px;
	text-align: center;
	font-size: 14pt;
    background-color:rgb(2, 115, 181);
	border-bottom-left-radius: 40px;
	color: rgb(255, 255, 255);
}


#lessonFormSearch
{
    padding-bottom: 100px;
}

nav
{
    display: flex;
    height: 100px;
    padding: 20px;
    color: rgb(0, 0, 0);
    background-color: rgb(47,54,61);
    justify-content: center;
}

nav a
{
    margin: 20px;
    padding: 25px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-bottom-left-radius: 30px;
	background-color: rgb(255, 255, 255);
	text-shadow: 2px 4px rgb(227, 232, 237);
    box-shadow: 10px 5px rgba(0,0,0,.2); 
}

#userLessonForm table
{
    display: inline-block;
    margin-bottom: 50px;
    padding: 50px;
    text-align: center;
    border-radius: 50px;
    background-color: rgb(218, 218, 218);
}

#userLessonBook
{
    display: inline-block;
    margin-bottom: 50px;
    padding: 50px;
    text-align: center;
    border-radius: 50px;
    background-color: rgb(218, 218, 218);
}


table#returnedForm
{

    display: inline-block;
    text-align: center;
    background-color: rgb(247, 247, 247);
}

p#returnedForm
{
    padding: 100px;
    text-align: center;
    border-radius: 100px;
    background-color: rgb(47,54,61);
}
#returnedFormDiv
{
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
    border-radius: 100px;
    background-color: rgb(218, 218, 218);
}

sub
{
    font-size: 10pt;
    color: white;
}

#footer
{
    width: auto;
    height: auto;
    padding: 80px;
    border: 1px rgba(221, 221, 223,.0) solid;
	background-color: rgb(252, 252, 252);
	text-align: left;
}

#footer a:hover
{
    background-color: rgb(247,250,255);;
}

#footer a
{
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
 
#footer p
{
    font-style: italic;
}

