html
{
    font-family: 'Roboto', sans-serif, sans-serif;
    background-color: rgb(239, 239, 239);
}

a
{
    text-decoration: none;
}

a:hover
{
    background-color: rgb(247,250,255);;
}

a:visited
{
    font-family: Georgia;
    color: black;
}

body
{
    margin: 0;
    background-color: rgb(239, 239, 239);
}
.clear
{
    clear: both;
}

.clearfix {
	overflow: auto;
	margin-right: 50px;
    margin-left: 40px;
}
#container
{
    width: auto;
    margin: auto;
}

#content
{
    float: left;
    width: 50%;
    height: 100%;
    background-color: rgb(239, 239, 239);
}


.contentClass p
{
    margin: 80px;
    padding-top: 20px;
    padding-right: 60px;
    padding-bottom: 20px;
    padding-left: 60px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    background-color: rgb(103, 173, 214);
}

#content2
{
    float: right;
    width: 50%;
    height: 100%;
    height: auto;
    background-color: rgb(239, 239, 239);
}
	
#header
{
    width: auto;
    height: auto;
    border: 1px rgba(0, 0, 0,.0) solid;
    background-color: rgb(26, 28, 31);
}

h1
{
    font-size: 50pt;
    padding: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(2, 115, 181);
}

h2
{
    font-size: 50pt;
    margin: 100px;
    padding: 30px;
    text-align: center;
    color: rgb(255, 255, 255);
    border-bottom-left-radius: 40px;
    background-color: rgb(2, 115, 181);
    text-shadow: 10px 5px rgba(45,45,45,.2);
}

h3
{

	padding:30px;
	margin-left: 70px;
	margin-right: 70px;
	text-align: center;
	font-size: 14pt;
    background-color:rgb(2, 115, 181);
	border-bottom-left-radius: 40px;
	color: rgb(255, 255, 255);
}


#meetTheTeam
{
    float: left;
    width: 100%;
}

#meetTheTeam img
{
	vertical-align: middle;
	width: 25%;
    float: left;
    height: 20%;
    padding: 20px;
    padding-bottom: 100px;
    border-radius: 50%;
}

#meetTheTeamText
{
    float: right;
    width: 70%;
}

#meetTheTeam p
{
	width: 50%;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    float: right;
    background-color: rgb(103, 173, 214);
	
}

nav
{
    display: flex;
    height: 100px;
    padding: 20px;
    color: rgb(0, 0, 0);
    background-color: rgb(47,54,61);
    justify-content: center;
}

nav a
{
    margin: 20px;
    padding: 25px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-bottom-left-radius: 30px;
	background-color: rgb(255, 255, 255);
	text-shadow: 2px 4px rgb(227, 232, 237);
    box-shadow: 10px 5px rgba(0,0,0,.2); 
}


sub
{
    font-size: 10pt;
    color: white;
}

#footer
{
    width: auto;
    height: auto;
    padding: 80px;
    border: 1px rgba(221, 221, 223,.0) solid;
    background-color: rgb(252, 252, 252);
}

#footer a:hover
{
    background-color: rgb(247,250,255);;
}

#footer a
{
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
 
#footer p
{
    font-style: italic;
}

